.wrapperForStatisticsAndSettings {
  margin: 10px;
  width: 220px;
}

.statistics-info {
  margin-bottom: 20px;
}

.statisticInfoSectionInfo {
  margin-bottom: 5px;
}

.statisticInfoHeader {
  &Symbol-x {
    color: black;
  }

  &Symbol-o {
    color: red;
  }

  &Symbol-o,
  &Symbol-x {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.statisticInfoHeader,
.statisticInfoValue {
  font-size: 18px;
}

.statisticInfoSectionButtons {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.buttonResetStatistics {
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.statisticInfoPlayer-o {
  color: red;
}