.settings {
  margin: 20px;
  width: 220px;
  display: flex;
  align-items: center;
  flex-direction: column;

  &Section {
    width: 88%;
    display: flex;
    flex-direction: column;
  }

  &Section__label {
    margin: 8px 0;
  }

  &Label__input {
    margin-right: 10px;
  }

  &Input {
    width: 35px;
    padding: 2px 4px;
  }

  &__buttonsContainer {
    margin-top: 10px;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  height: 25px;
  width: 100%;
}

.buttonSubmit, .buttonRestart {
  padding: 4px 0;
  width: 48%;

  &:hover {
    cursor: pointer;
  }
}